<header>
  <app-menu-bar></app-menu-bar>
</header>

<main id="app">
  <section class="articles">
    <article class="articles__main-top">
      <app-big-card
      photoCover="https://miro.medium.com/v2/resize:fit:640/format:webp/1*58NaxY-eQCbEuwgszOrS6Q.gif"
      cardDate="Nov 27, 2023"
      cardTitle="Sobre ORCAS e Ceifadores"
      cardUrl="https://medium.com/@ailsonsixseven/sobre-orcas-e-ceifadores-432cf2fcd98c"
      cardDescription="Uma comunicação esotérica entre música e tecnologia"
      ></app-big-card>
    </article>

    <article class="articles__others-bottom">
      <app-small-card
        photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*OD1KTzB1PgJKnAqtcohu7A.jpeg"
        cardDate="Nov 28, 2021"
        cardTitle="A Estética Atompunk"
        cardUrl="https://medium.com/@ailsonsixseven/a-est%C3%A9tica-atompunk-481ff8329b8d"
        cardDescription="Um Mundo Onde os Malditos Comunistas Estarão Mortos"
      ></app-small-card>

      <app-small-card
        photoCover="https://miro.medium.com/v2/resize:fit:640/format:webp/1*58NaxY-eQCbEuwgszOrS6Q.gif"
        cardDate="Nov 27, 2023"
        cardTitle="Sobre ORCAS e Ceifadores"
        cardUrl="https://medium.com/@ailsonsixseven/sobre-orcas-e-ceifadores-432cf2fcd98c"
        cardDescription="Uma comunicação esotérica entre música e tecnologia"
      ></app-small-card>

      <app-small-card
        photoCover="https://miro.medium.com/v2/resize:fit:720/format:webp/1*OD1KTzB1PgJKnAqtcohu7A.jpeg"
        cardDate="Nov 28, 2021"
        cardTitle="A Estética Atompunk"
        cardUrl="https://medium.com/@ailsonsixseven/a-est%C3%A9tica-atompunk-481ff8329b8d"
        cardDescription="Um Mundo Onde os Malditos Comunistas Estarão Mortos"
      ></app-small-card>
    </article>
  </section>
</main>

<footer>
  <app-footer></app-footer>
</footer>

<router-outlet />
